.task-3-1.container {
    display: grid;
    height: 100vh;
    grid-template-rows: auto auto 1fr auto auto;
    gap: 24px;
}


@media (min-width: 1020px) {
    .task-3-1.container {
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: auto auto 1fr;
    }


.task-3-1 .header {
   grid-column: 1 / span 12; 
}    

.task-3-1 .navigation {
    grid-column: 3 / span 8;
}

.task-3-1 .main {
    grid-column: 3 / span 8;
}

.task-3-1 .sidebar {
    grid-column: 1 / span 2;
     grid-row: 2 / 4; 
}
 .task-3-1 .ads {
 grid-column: 11 / span 2; 
 grid-row: 2 / 4; 
}

 .task-3-1 .footer {
    grid-column:  1/ span 12;
} 

}


.header,.navigation,
.main,.sidebar,
.ads,.iteam,
.footer {
    border: 1px solid rgb(18, 30, 136);
    border-radius: 5px; 
    padding: 30px;
    color: lightgoldenrodyellow;
}
.main {
    background-color: rosybrown;
    box-shadow: 4px 4px 5px red;
}

.header {
    background-color: #e97aec;
    box-shadow: 4px 4px 5px blue;
}

.navigation {
    background-color: #861343;
 
 box-shadow: 4px 4px 5px yellow;
}

.sidebar {
    background-color: #c0babc;
    box-shadow: 4px 4px 5px rgb(52, 1, 68);
}

.ads {
    background-color: #861343;
    box-shadow: 4px 4px 5px brown;
}

.iteam {
    background-color: #10aa6a;
    box-shadow: 4px 4px 5px brown;
}

.footer {
    background-color: #a281d8;
    box-shadow: 4px 4px 5px brown;
}


    